@model Ticket_System_2020.Models.Ticket

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProblemDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProblemDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeRequested)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeRequested)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TicketID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
