@model IEnumerable<Ticket_System_2020.Models.Ticket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Tickets", FormMethod.Get))
{
    <b> Search Option: </b>@Html.RadioButton("option", "projectName") <text> Project Name </text> @Html.RadioButton("option", "department") <text> Department </text>
    @Html.RadioButton("option", "submittedBy")<text> Submitted By </text> @Html.RadioButton("option", "problemDescription")<text> Problem Description </text> @Html.RadioButton("option", "timeRequested")<text> Time Requested </text> @Html.TextBox("search")
    <input type="submit" name="submit" value="Search" />
}
<p>
</p>
    <table class="table">
        <tr>
            <th>
                Project Name
            </th>
            <th>
                Department
            </th>
            <th>
                Submitted By
            </th>
            <th>
                Problem Description
            </th>
            <th>
                Time Requested
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProblemDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeRequested)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TicketID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TicketID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TicketID })
                </td>
            </tr>
        }

    </table>
